/* google font */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:ital,wght@0,500;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer{
    text-align: center;
    padding: 1rem;
    background-color: orangered;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
h1{
    font-family: 'Ubuntu','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
h3{
    margin-bottom: 1.5rem;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 1.3rem;
}
#userInput{
    height: 30vh;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
    outline: none;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid rgb(195, 189, 189);
    color: rgb(90, 88, 88);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
#trasnslate-btn{
    padding: 10px 15px;
    margin: 12px auto;
    font-size: 1.1rem;
    background-color: orangered;
    border: 1px solid orangered;
    outline:none;
    border:none;
    color: white;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#trasnslate-btn:hover{
    color: orangered;
    border: 2px solid orangered;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#userOutput{
    height: 20vh;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
    color: rgb(90, 88, 88);
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgb(195, 189, 189);
    font-family: 'Patrick Hand', cursive;
}
p{
    margin: 1rem 2rem;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}